.login { padding:20px;background-color:rgb(240, 240, 240);box-shadow:5px 5px 5px grey;justify-self:center;align-self:center;display:flex;align-items:flex-start;flex-direction: column;text-align: start;}
.success { color: green }
.error { color: red}
